@inherits LayoutComponentBase

<div>
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <header>
        <AppBar />
    </header>

    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
