@page "/"

<PageTitle>Home</PageTitle>

<Card>
    <CardHeader Title="Pruebita" SubTitle="MiniPruebita" />
    <CardContent>
        <p>Esta es una mini prueba del componente carda que acabo de crea</p>
    </CardContent>
</Card>
